<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/leinster"></ion-back-button>
    </ion-buttons>
    <ion-title>Leinster Counties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leinster Counties</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li *ngFor="let county of counties">
      {{county}}
    </li>
  </ul>
</ion-content>
