<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Connaught</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png" width = "400" height = "250"></ion-img>

  <h2> Connaught Counties</h2>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>
  </ul>
</ion-content>
